@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --background-image-flecha: url('./images/flecha.png'); 
}

@layer base {
  body{
    @apply bg-black text-white;
  }
  header{
    @apply bg-neutral-800 text-white flex flex-row justify-between p-4 text-2xl border-b-4;
  }

  button{
    @apply hover:cursor-pointer;
  }

  footer{
    @apply border-t-4 mt-4 bg-neutral-800 text-white;
  }
  .textG{
    @apply text-4xl
  }

}

@layer components {
  
  .router-link-active{
    @apply underline decoration-blue-400;
  }
  .navOp {
    @apply rounded-3xl p-1 px-2 text-3xl hover:underline decoration-blue-400;
  }

  .titulo{
    @apply text-4xl mt-4 font-bold text-center;
  }
  .input{
    @apply bg-black border pl-2 p-1 hover:border-blue-400 /*hover:placeholder-white*/;
  }

  .paginado{
    @apply border-2 rounded-lg mt-2 p-1 hover:underline;
  }
  .btnFlecha{
    @apply bg-white text-2xl p-2 border-3 rounded-full w-10 flex items-center justify-center hover:scale-110 transition-transform;
  }
  .divCarrusel{
  @apply flex items-center gap-4 bg-neutral-800 mb-4 p-4 rounded-xl;
  }
  .carrusel{
    @apply grid grid-cols-6 gap-4 flex-1;
  }
  .cardCarrusel{
    @apply w-full aspect-3/4 object-cover rounded-xl;
    transition: transform 0.2s ease-in-out; 
  }
  .cardCarrusel:hover {
    transform: scale(1.05);
  }
  .divTextCarrusel{
    @apply flex flex-col items-center min-w-[calc(16.66%-1rem)];
  }
  .textCarrusel{
    @apply text-lg font-semibold mt-1 text-center truncate w-full;
  }

  .filtros{
    @apply flex justify-center text-xl gap-4 my-4;
  }
  .divCards{
    @apply grid grid-cols-4 mx-10 pb-4 gap-4;
  }
  .card{
    @apply relative flex flex-col h-200 overflow-hidden rounded-xl border border-gray-700 bg-cover bg-center;
  }
  .divCorazon{
    @apply flex p-2 rounded-full bg-white w-fit transition-opacity duration-300 opacity-0 group-hover:opacity-100;
  }
  .corazon{
    @apply w-10 hover:cursor-pointer;
    transition: transform 0.2s ease-in-out; 
  }
  .corazon:hover {
  transform: scale(1.1);
  }

  .desplegableInfo{
    @apply absolute bottom-0 left-0 w-full transition-all duration-500 z-10 flex flex-col;
  }
  .despegableBtn{
    @apply w-full bg-neutral-800 hover:bg-black text-white py-4 flex justify-center gap-2 cursor-pointer select-none transition-colors border-t border-white;
  }
  .info{
    @apply font-medium text-blue-400;
  }

}

