@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --background-image-flecha: url('./images/flecha.png'); 
}

@layer base {
  body{
    @apply bg-black text-white
  }
  header{
    @apply bg-neutral-800 text-white flex flex-row justify-between p-4 text-2xl border-b-4;
  }

  button{
    @apply hover:cursor-pointer 
  }

  footer{
    @apply border-t-4 mt-4 bg-neutral-800 text-white
  }
}

@layer components {
  .navOp {
    @apply rounded-3xl border-2 p-1 px-2 hover:underline decoration-blue-400;
    
  }

  .paginado{
    @apply border-2 rounded-lg mt-2 p-1 hover:underline;
  }

  .btnFlecha{
    @apply bg-white text-2xl p-2 border-3 rounded-full w-10 flex items-center justify-center hover:scale-110 transition-transform;
  }
  .carrusel{
    @apply grid grid-cols-6 gap-4 flex-1;
  }
  .cardCarrusel{
    @apply w-full aspect-3/4 object-cover rounded-xl;
    transition: transform 0.2s ease-in-out; 
  }
  .cardCarrusel:hover {
    transform: scale(1.05);
  }

  .card{
    @apply hover:bg-white
  }

  .corazon{
    @apply w-10 hover:cursor-pointer;
    transition: transform 0.2s ease-in-out; 
  }
  .corazon:hover {
  transform: scale(1.1);
  }  
}

